Package: com.insanj.arpeggio
Name: Arpeggio
Pre-Depends: firmware (>= 8.4)
Replaces: com.ckant.musicgestures, com.ckant.swipablemusic
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Quickly seek your Music with gestures.
Maintainer: Julian Weiss <insanj@gmail.com>
Author: Julian (insanj) Weiss
Section: Tweaks
